PORT=
NODE_ENV=development | production | test

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_NAME=workhub_mty
DB_CONNECTION_LIMIT=10

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

JWT_SECRET=
ACCESS_TOKEN_EXPIRES_MS=900000 # 15 mins
REFRESH_TOKEN_EXPIRES_MS=86400000 # 24 hours

RESEND_API_KEY=
RESEND_FROM_ADDRESS= # e.g. "WorkHub <noreply@yourdomain.com>"

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash